knob {
    width: 41px;
    height: 25px;
    position: absolute;
    vertical-align: middle;
    margin-top: 25px;
    margin-left: -58px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal; 
    font-size: 15px;
    line-height: normal;
    font-family: Arial;
    text-align: center; 
    color: rgb(255, 236, 3);
    padding: 0px;
    -webkit-appearance: none;
    background: none;
    fgcolor : #ffec03;
}

.osc-controls {
    border: 2px dashed black;
    border-radius:   1em;
    margin: 1em;
    padding: 0.5em;
}

.osc-controls select {
    display:    block;
    clear:  both;
    float:  left;
}

.osc-controls label {
    text-overflow: ellipsis;
    overflow: hidden;
    
    display:  block;
    clear:    both;
    float: left;
}

.osc-controls .dd-container {
    display:  block;
    clear:    both;
    float: left;
}

.noteModifiers .envelopeControls {
    display:  block;
    clear:  both;
    position:   relative;
}

.noteModifiers {
    float: right;
}

.envelopeControls {
    float: left;
}

.osc-controls canvas {
    
}

@media screen and (min-width: 769px) {
    .osc-controls {
        display:  block;
        clear:    both;
        float: right;
        width:  45%;
        height: 16em;
    }
    
    .noteModifiers select {
        clear:  none;
    }
}